/*
  font-family: 'Montserrat', sans-serif; 100it/800
  font-family: 'Open Sans', sans-serif; 400/400it/700/700it
*/

html {
  scroll-behavior: smooth;
}

body {
  max-width: 320px;
  margin: auto;
  background-color: rgb(0, 0, 0);
}

img {
  width: 320px;
}

/* header */

h1 {
  font-family: 'montserrat', sans-serif;
  color: white;
}
